.container{
font-family:Arial;
font-size:large;
margin:0px;
text-align:centre
}
.about{
font-family:georgian;
color:blue;
font-size:medium;
text-align:topright;
padding:0px
}
.About{
font-family:georgian;
font-size:medium;
}
.Contact{
font-family:georgian;
font-size:medium;
color:pink;